.services__background {
    background-color: #000000;
    padding: 20px;
  }
  
  .services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 85vh !important;
    background-color: #000000;
    align-items: center;
  }
  
  .service {
    background-color: #000000;
    border: 2px solid red;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    height: 50%;
    width: 30%;
    box-sizing: border-box;
    color: white;
  }
  
  .service h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 1em;
    line-height: 1.5;
  }
  

 
  
  