.background-container {
  background-image: url('../../assets/img/home.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-container {
  color: white;
  padding: 20px;
  margin-left: 3%;
  width: 50%;
  border-radius: 10px; /* Opcional, para bordes redondeados */
}

.home__title {
  color: red;
  font-size: 7rem;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  animation: fadeIn 3s ease-in-out, slideIn 2s ease-out;
}

.home__subtittle {
  color: rgb(235, 106, 1);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: fadeIn 3s ease-in-out, slideIn 2s ease-out;
  text-align: center;
  width: 80%;
}

.home__text {
  color: white;
  width: 70%;
  font-size: 1.23rem;
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.home__div-button {
  width: 100%;
  display: flex;
  margin-left: 12%;
  margin-top: 5%;
}

.home__button-home{
  padding: 12px 20px 12px 20px !important;
  font-size: 1.2rem !important;
}




/* Media Query para portátiles de hasta 15,6 pulgadas (ancho máximo de 1366px) */
@media (max-width: 1626px) and (min-width: 430px)  {

  .text-container {
    color: white;
    padding: 20px;
    margin-left: 3%;
    width: 50%;
    border-radius: 10px; /* Opcional, para bordes redondeados */
  }
  
  .home__title {
    color: red;
    font-size: 5rem;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    animation: fadeIn 3s ease-in-out, slideIn 2s ease-out;
    margin-top: 30px;
  }

  .home__subtittle {
    color: rgb(235, 106, 1);
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fadeIn 3s ease-in-out, slideIn 2s ease-out;
    text-align: center;
    width: 80%;
  }

  .home__text {
    color: white;
    width: 80%;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
  }

  .home__button-home{
    margin-bottom: 50px;
  }
}

/* Media Query para móviles a partir de 430 píxeles de ancho */
@media only screen and (max-width: 430px) {
  .background-container {
    background-image: url('../../assets/img/home.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .text-container {
    color: white;
    padding: 10px; /* Añadimos padding para más espacio en móviles */
    margin-left: -5px;

    width: 100%; /* Ajustamos el ancho para móviles */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    border-radius: 10px; /* Opcional, para bordes redondeados */
  }

  .home__title {
    color: red;
    font-size: 4rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    animation: fadeIn 3s ease-in-out, slideIn 2s ease-out;
  }

  .home__subtittle {
    text-align: center;
    width: 100%;
  }

  .home__text {
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 1.23rem;
  }

  .home__button {
    margin: 0 auto;

  }
  .home__div-button {
    width: 100%;
    display: flex;
    margin-left: 0.5rem;
    margin-top: 10%;
  }
}
