.navbar__nav{
    background-color:#000000 ;
}

.navbar_list-text{
    font-size: 1.3em;
}

.nav-link{
    margin-right: 48px;
}

@media (max-width: 768px) {
    .nav-link{
        margin: 0;
        padding:0;
    }
}